[Unit]
Description=Deploy Passmaster
After=network-online.target

[Service]
Type=oneshot
Restart=no
User=passmaster
WorkingDirectory=/home/passmaster/passmaster
ExecStartPre=/usr/bin/git checkout master
ExecStartPre=/usr/bin/git pull
ExecStart=/usr/local/rvm/wrappers/ruby-3.2.4@passmaster/ruby script/server_deploy

[Install]
WantedBy=multi-user.target
