[Unit]
Description=Puma HTTP Server Accept Sockets

[Socket]
ListenStream=/home/passmaster/passmaster/tmp/sockets/nginx.socket
SocketUser=passmaster
SocketGroup=passmaster

# Socket options matching Puma defaults
ReusePort=true
Backlog=1024
# Enable this if you're using Puma with the "low_latency" option, read more in Puma DSL docs and systemd docs:
# https://www.freedesktop.org/software/systemd/man/latest/systemd.socket.html#NoDelay=
# NoDelay=true

[Install]
WantedBy=sockets.target
