# The connection options are set via environment variables as defined
# in #{Rails.root}config/env.yml. See that file for more details.

defaults: &defaults
  adapter: postgresql
  encoding: utf8
  pool: 5

development:
  <<: *defaults
  username: <%= ENV['DEVELOPMENT_DB_USERNAME'] %>
  password: <%= ENV['DEVELOPMENT_DB_PASSWORD'] %>
  database: <%= ENV['DEVELOPMENT_DB_DATABASE'] %>
  host: <%= ENV['DEVELOPMENT_DB_HOST'] %>
  port: <%= ENV['DEVELOPMENT_DB_PORT'] %>

test:
  <<: *defaults
  username: <%= ENV['TEST_DB_USERNAME'] %>
  password: <%= ENV['TEST_DB_PASSWORD'] %>
  database: <%= ENV['TEST_DB_DATABASE'] %>
  host: <%= ENV['TEST_DB_HOST'] %>
  port: <%= ENV['TEST_DB_PORT'] %>

staging:
  <<: *defaults
  username: <%= ENV['STAGING_DB_USERNAME'] %>
  password: <%= ENV['STAGING_DB_PASSWORD'] %>
  database: <%= ENV['STAGING_DB_DATABASE'] %>
  host: <%= ENV['STAGING_DB_HOST'] %>
  port: <%= ENV['STAGING_DB_PORT'] %>

production:
  <<: *defaults
  username: <%= ENV['PRODUCTION_DB_USERNAME'] %>
  password: <%= ENV['PRODUCTION_DB_PASSWORD'] %>
  database: <%= ENV['PRODUCTION_DB_DATABASE'] %>
  host: <%= ENV['PRODUCTION_DB_HOST'] %>
  port: <%= ENV['PRODUCTION_DB_PORT'] %>
