#updates.container
  .well
    %h3
      %i.icon.icon-passmaster
      Updates

    %h4.update-date 2015-07-16
    %ul
      %li Email addresses are now case-insensitive

    %h4.update-date 2015-06-16
    %ul
      %li Security updates
      %ul
        %li
          %a{ :target => '_blank', :href => 'http://seclists.org/oss-sec/2015/q2/729' } CVE-2015-3225
        %li
          %a{ :target => '_blank', :href => 'http://seclists.org/oss-sec/2015/q2/732' } CVE-2015-3226
        %li
          %a{ :target => '_blank', :href => 'http://seclists.org/oss-sec/2015/q2/731' } CVE-2015-3227
        %li
          %a{ :target => '_blank', :href => 'http://seclists.org/oss-sec/2015/q2/730' } CVE-2015-1840

    %h4.update-date 2015-03-06
    %ul
      %li Better error handling when Touch ID authentication is unsuccessful

    %h4.update-date 2015-03-03
    %ul
      %li
        Add a user preference for enabling Touch ID support (only available in the
        = succeed ')' do
          %a{ :target => '_blank', :href => 'https://itunes.apple.com/us/app/passmaster/id615271561?mt=8' } iOS app

    %h4.update-date 2015-03-02
    %ul
      %li Add support for unlocking accounts using Touch ID in the iOS app

    %h4.update-date 2015-01-13
    %ul
      %li Automatically add http:// to Website URLs

    %h4.update-date 2014-12-03
    %ul
      %li
        Updated the
        %a{ :target => '_blank', :href => 'https://bitwiseshiftleft.github.io/sjcl/' } Stanford Javascript Crypto Library
      %li Security updates
      %ul
        %li
          %a{ :target => '_blank', :href => 'http://web.nvd.nist.gov/view/vuln/detail?vulnId=CVE-2014-8090' } CVE-2014-8090
        %li
          %a{ :target => '_blank', :href => 'https://groups.google.com/forum/#!topic/rubyonrails-security/rMTQy4oRCGk' } CVE-2014-7829

    %h4.update-date 2014-11-06
    %ul
      %li Security updates
      %ul
        %li
          %a{ :target => '_blank', :href => 'http://web.nvd.nist.gov/view/vuln/detail?vulnId=CVE-2014-3566' } CVE-2014-3566
        %li
          %a{ :target => '_blank', :href => 'https://groups.google.com/forum/#!topic/rubyonrails-security/dCp7duBiQgo' } CVE-2014-7818

    %h4.update-date 2014-09-15
    %ul
      %li Focus the search box after unlocking accounts

    %h4.update-date 2014-08-08
    %ul
      %li Generate passwords more uniformly. (Thanks Stephen McCarthy!)

    %h4.update-date 2014-08-07
    %ul
      %li No longer minify javascript and CSS. This should make it easier to view source and see that the JS being served is legit. (Thanks Stephen McCarthy!)

    %h4.update-date 2014-08-03
    %ul
      %li Passmaster is now open source!
      %ul
        %li
          %a{ :target => '_blank', :href => 'https://github.com/ryanjohns/passmaster' } Passmaster Server
        %li
          %a{ :target => '_blank', :href => 'https://github.com/ryanjohns/PassmasterAndroid' } Passmaster Android
        %li
          %a{ :target => '_blank', :href => 'https://github.com/ryanjohns/PassmasterIOS' } Passmaster iOS

    %h4.update-date 2014-07-02
    %ul
      %li Security updates

    %h4.update-date 2014-04-14
    %ul
      %li
        Updated the
        %a{ :target => '_blank', :href => 'https://bitwiseshiftleft.github.io/sjcl/' } Stanford Javascript Crypto Library
      %li Security updates

    %h4.update-date 2014-04-01
    %ul
      %li Security updates

    %h4.update-date 2014-03-14
    %ul
      %li Clarify that passwords are only copied automatically on mobile
      %li Better font for deferentiating similar characters in usernames and passwords

    %h4.update-date 2014-03-03
    %ul
      %li New notifications UI
      %li Better copy to clipboard support for the mobile apps

    %h4.update-date 2014-02-26
    %ul
      %li Added this updates page

    %h4.update-date 2014-02-25
    %ul
      %li One click copy to clipboard support for the iOS App

    %h4.update-date 2014-02-12
    %ul
      %li New home page
      %li Disable file-based backup and restore on mobile

    %h4.update-date 2013-10-08
    %ul
      %li Better font for passwords
      %li Auto-focus the search box after unlock

    %h4.update-date 2013-04-26
    %ul
      %li Added version checking to prevent overwrites

    %h4.update-date 2013-04-25
    %ul
      %li One click copy to clipboard for the Android App
      %li Require valid OTP session to disable MFA

    %h4.update-date 2013-04-23
    %ul
      %li Offline account viewer included in backups

    %h4.update-date 2013-03-08
    %ul
      %li Mobile app support

    %h4.update-date 2013-02-02
    %ul
      %li Basically the initial launch
