%p Hi,

%p Your Passmaster account has been deleted. Here's a final backup of your accounts.

%p
  Backups can be restored to any Passmaster account or viewed offline using the
  = succeed '.' do
    %a{ :href => "#{root_url}#{ACCOUNTS_VIEWER_FILENAME}" } Accounts Viewer

%p Have a great day!
