%p Hi,

%p This is to confirm that you changed your email address. You'll need to use your new address to access your accounts from now on.

%p A backup of your accounts at the time of change is attached to this message.

%p
  Backups can be restored to any Passmaster account or viewed offline using the
  = succeed '.' do
    %a{ :href => "#{root_url}#{ACCOUNTS_VIEWER_FILENAME}" } Accounts Viewer

%p{ :style => 'font-weight: bold;' } If you did not make any changes and this is a surprise to you, please contact support by replying to this email.

%p Thanks for using Passmaster!

%p Reference ID: #{@user_id}
