%p Hi,

%p Thanks for creating a Passmaster account! You'll need to verify your email address to use your account.

%p Just click the link below or copy/paste the verification code into the box on the website.

%p
  Verification Code:
  %strong= @code

%p= link_to(@url, @url)

%p Thanks!
