%p Hi,

%p You'll need to verify your email address to use your account.

%p
  Just click the link below or enter the verification code when you
  = succeed '.' do
    = link_to('access your account', @website_url)

%p
  Verification Code:
  %strong= @code

%p= link_to(@verification_url, @verification_url)

%p Thanks for using Passmaster!
