#accounts {
  text-align: center;

  #unlock_accounts {
    margin-top: 30px;
  }
}

#accounts_list_search {
  margin: 0;
}

#account_tiles {
  text-align: left;

  .account-tile {
    width: 264px;
    margin: 0 10px 10px 0;
    padding: 8px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
  }

  .read {
    table {
      width: 100%;
    }
    th.account {
      padding-bottom: 3px;
    }
    input[type='text'] {
      margin: 0 0 2px 0;
    }
    .input-prepend {
      margin-bottom: 0;
      .add-on {
        width: 16px;
      }
      input {
        width: 155px;
      }
    }
    .input-prepend.input-append {
      .add-on {
        margin-left: 0;
      }
      input {
        width: 96px;
      }
      .btn {
        width: 60px;
      }
    }
    pre.notes {
      border: none;
      padding: 5px;
      margin: 5px 0 0 0;
      background-color: #fff;
    }
  }

  .write {
    form,input[type='text'],textarea {
      margin: 0 0 2px 0;
    }
    .input-prepend {
      margin-bottom: 0;
      .add-on {
        width: 16px;
      }
      input {
        width: 224px;
      }
    }
    .input-prepend.input-append {
      .add-on {
        margin-left: 0;
      }
      input {
        width: 138px;
      }
      .btn {
        width: 86px;
      }
    }
    .actions {
      padding-top: 5px;
    }
  }
}
