#accounts {
  text-align: center;

  #unlock_accounts {
    margin-top: 30px;
  }
}

#accounts_list_search {
  margin: 0;
}

#account_tiles {
  text-align: left;

  .account-tile {
    width: 264px;
    margin: 0 10px 10px 0;
    padding: 8px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
  }

  form,input[type='text'],textarea {
    margin: 0 0 5px 0;
  }

  .links {
    margin-left: 5px;
  }

  .notes pre {
    border: none;
    margin: 5px 0 0 0;
    padding: 8px;
    background-color: #fff;
  }
}
