#configure {
  text-align: center;

  .pushed-down {
    margin-top: 40px;
  }

  #restore_accounts_backup_file {
    width: 100%;
    max-width: 270px;
    line-height: 0;
  }

  hr {
    border-bottom: 1px solid #aaa;
  }
}
