#configure {
  text-align: center;

  .pushed-down {
    margin-top: 40px;
  }

  #restore_accounts_backup_file {
    width: 100%;
    max-width: 270px;
    line-height: 0;
  }

  hr {
    border-bottom: 1px solid #aaa;
  }

  #preferences {
    #preferences_special_chars, #preferences_auto_backup, #preferences_mfa {
      margin: 0;
    }
    #special_chars_status, #auto_backup_status, #mfa_status {
      margin-left: 5px;
    }
    span.status-enabled {
      color: green;
    }
    span.status-disabled {
      color: red;
    }
  }
}
