#updates {
  .icon-passmaster {
    background-image: url(image_path('icon-32.png'));
    background-position: 0;
    width: 32px;
    height: 32px;
  }

  h4.update-date {
    margin-top: 40px;
  }
}
