html, body {
  height: 100%;
}

body {
  background-color: #8b99ab;
}

.top-links {
  margin-bottom: 10px;
}

input.placeholder, textarea.placeholder {
  color: #aaa;
}

#alert_messages {
  text-align: center;
}

#wrap {
  min-height: 100%;
}

#main {
  overflow: auto;
  padding-top: 10px;
	padding-bottom: 50px;
}

#footer {
  position: relative;
  margin-top: -50px;
  height: 50px;
  clear: both;
  text-align: center;
  color: #eee;
  font-size: 12px;

  a {
    color: #eee;
    text-decoration: underline;
  }
  p {
    margin: 0;
    padding: 0;
  }
}
