.container#overview
  .well
    %h1 Passmaster
    %p A simple tool for storing all your account credentials securely with a single master password.
    .pushed-down
      %p Just enter your email address to access your accounts, or to get started.
      = form_tag('#', :id => 'overview_form') do
        %p= text_field_tag(:email, '', :placeholder => 'Email Address', :class => 'input-xlarge')
        %p= submit_tag('Access Accounts', :class => 'btn btn-primary btn-large')
