.password-generator
  .input-append
    %input.input-medium{ :type => :text, :name => :password, :placeholder => 'Password' }
    %button.btn{ :type => 'button', 'data-password-generator' => 'true' } Generate
