.container#verify{ :style => 'display:none;' }
  .well
    %h1#verification_email
    %p You need to verify your email address to use Passmaster.
    .pushed-down
      %p Enter your verification code below.
      = form_tag(users_path, :method => :put, :remote => true, :format => :json, :id => 'verification_form') do
        %p= text_field_tag(:verification_code, '', :placeholder => 'Verification Code', :class => 'input-xlarge', :id => 'verification_field')
        %p= submit_tag('Verify', :class => 'btn btn-primary btn-large', :id => 'verification_btn')
